:root {
  scroll-behavior: smooth;
}

.card {
    height: 100%;
}

.alert {
  position: fixed;
  top: 50px;
  width: 50%;
  left: 25%;
  z-index: 1051;
}

.btn {
  padding: 0.5rem 0.5rem;
  margin: 0.15rem;
}

.nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #593196;
  cursor: pointer;
}

body {
    max-width: 1640px;
    margin: auto;
}

.navbar-brand {
    text-align: center;
  }

@media (max-width: 575px) {

.search {
        display: none;
    }

.package {
        display: none;
    }
}