:root {
  scroll-behavior: smooth;
}

.card {
  height: 100%;
}

.alert {
  position: fixed;
  top: 50px;
  width: 50%;
  left: 25%;
  z-index: 1051;
}

.btn {
  padding: 0.75rem 0.7rem;
  margin: 3px;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #593196;
  cursor: pointer;
}

body {
    max-width: 1640px;
    margin: auto;
}

  .navbar-brand {
    text-align: center;
  }
